body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.navcaixa{
    background-color: aqua;
    padding: 15px;
    border-radius: 10px;
}

.caixa{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
}

input{
    background-color: aliceblue;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 10px;
    width: 50%;

}

.button{
    padding: 15px;
    border: none;
    outline: none;
    width: 50%;
    background-color: rgb(35, 111, 141);
    border-radius: 10px;
    cursor: pointer;
transition: 0.6S;
}

button:hover{
    background-color: aquamarine;
}

.botafogo{
    color: white;
}