body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black

}

.boxnav{
background-color: aqua;
padding: 5px;
border-radius: 15px;

}

.box1{

    height: 60px;
    background-color: aqua;
    position: absolute;
    top: 25%;
    left: 48%;
    padding: 5px;
    border-radius: 15px;
    transform: translate(-25%,-50%);
    transition: 0.6s;
}
 

.box1:hover{
    background-color: rgb(182, 122, 238);
}

.box2{

    height: 60px;
    background-color: aqua;
    position: absolute;
    top: 35%;
    left: 48%;
    padding: 5px;
    border-radius: 15px;
    transform: translate(-35%,-50%);
    transition: 0.6s;

}

.box3{

    height: 60px;
    background-color: aqua;
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 5px;
    border-radius: 15px;
    transform: translate(-45%,-50%);
    transition: 0.6s;


}

.box4{

    height: 60px;
    background-color: aqua;
    position: absolute;
    top: 55%;
    left: 48%;
    padding: 5px;
    border-radius: 15px;
    transform: translate(-35%,-50%);
    transition: 0.6s;

}

.box5{

    height: 60px;
    background-color: aqua;
    position: absolute;
    top: 65%;
    left: 49%;
    padding: 5px;
    border-radius: 15px;
    transform: translate(-45%,-50%);
    transition: 0.6s;

}

